/* Ensure only the card is printed */
@media print {
    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    .card-add {
        display: none;
    }

    .cards {
        gap: 0;
        justify-content: flex-start;
    }

    .display-only {
        display: none;
    }

    .card {
        background-color: #000;
        width: 63mm !important;
        height: 88mm !important;
        flex: 0 0 auto;
    }

    @page {
        margin: 1cm 0;
    }
}